<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.champions.are.we.androidacademytlv" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="com.aat.rntv.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Facebook meta-data and activity -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Splash screen - Launcher activity -->
        <activity
            android:name="com.aat.rntv.view.activities.SplashActivity"
            android:autoRemoveFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aat.rntv.view.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aat.rntv.view.activities.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aat.rntv.view.activities.WelcomeActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aat.rntv.view.activities.SetupActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aat.rntv.view.activities.Tip1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aat.rntv.view.activities.Tip2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aat.rntv.view.activities.RsvpActivity"
            android:label="@string/title_activity_rsvp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.aat.rntv.view.activities.AboutActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait" />

        <!-- ALARM RECEIVER -->
        <receiver android:name="com.aat.rntv.business.receiver.OnAlarmReceiver" />

        <activity
            android:name="com.aat.rntv.view.activities.AboutUsActivity"
            android:label="@string/title_activity_about_us"></activity>
    </application>

</manifest>
